 <!-- ***** Footer Inicio ***** -->
    <footer class="footer-social-icon text-center section_padding_70 clearfix">
        <!-- footer logo -->
        <div class="footer-text">
            <h2><b class="kumi">K</b>umi aplicación</h2>
        </div>
        <!-- redes sociales-->
        <div class="footer-social-icon">
            <a href="#"><i class="active fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
        <div class="footer-menu">
            <nav>
                <ul>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Terminos &amp; Condiciones</a></li>
                    <li><a href="#">Politica de Priacidad</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </div>
        <!-- Derechos y texto del Pie de pagina-->
        <div class="copyright-text">
            <p>Copyright ©2021 Diseñada para <a href="http://ttpn.com.mx" target="_blank">TTPN</a></p>
        </div>
    </footer>
    <!-- ***** Footer Fin ***** -->
